<h1>Обо мне</h1>
<img src="/shared/assets/images/me.png" />
<h2>Ведущий фронтенд разработчик</h2>
<p>
  Я фронтенд разработчик с опытом 15+ лет. В профессию пришел из-за увлечения
  компьютерами и программированием еще с детства. В школе я состоял в клубе
  программистов и участвовал в нескольких олимпиадах. Я довольно рано понял, что
  мне нравится визуальная часть, что привело меня к разработке сайтов, а затем
  мне удалось полностью сфокусироваться на JavaScript.<br />
  На данный момент я стал больше увлекаться архитектурными решениями в сфере
  фронтенд (н.п.feature sliced design), так как понял, что в большинстве
  современных веб приложениях отсутствие архитектуры - главная проблема.<br />
</p>
<h2>Мой технологический стек</h2>
<mat-chip>HTML</mat-chip>
<mat-chip>CSS</mat-chip>
<mat-chip>LESS</mat-chip>
<mat-chip>SASS</mat-chip>
<mat-chip>JavaScript</mat-chip>
<mat-chip>TypeScript</mat-chip>
<mat-chip>AngularJS</mat-chip>
<mat-chip>Angular</mat-chip>
<mat-chip>Angular Material</mat-chip>
<mat-chip>PrimeNG</mat-chip>
<mat-chip>RxJs</mat-chip>
<mat-chip>NgRx</mat-chip>
<mat-chip>Ng monorepo</mat-chip>
<mat-chip>EsLint</mat-chip>
<mat-chip>EsBuild</mat-chip>
<mat-chip>Prettier</mat-chip>
<mat-chip>StyleLint</mat-chip>
<mat-chip>Feature sliced design</mat-chip>
<mat-chip>Node.js</mat-chip>
<mat-chip>npm</mat-chip>
<mat-chip>Express</mat-chip>
<mat-chip>Karma</mat-chip>
<mat-chip>Jasmine</mat-chip>
<mat-chip>Jest</mat-chip>
<mat-chip>MySQL</mat-chip>
<mat-chip>Postgres</mat-chip>
<mat-chip>Git</mat-chip>
<mat-chip>Java</mat-chip>
<mat-chip>Linux</mat-chip>
<mat-chip>Code review</mat-chip>
<mat-chip>Аналитика</mat-chip>
<mat-chip>Коммуникативная компетентность</mat-chip>
<p>&nbsp;</p>

<h2>Обо мне простыми словами</h2>
<p>
  Я семейный человек и отец замечательной дочери. Люблю читать книги и увлекаюсь
  наукой, особенно физикой и астрономией.
</p>
<p>
  Много путешествовал по Европе (Австрия, Германия, Испания, Италия, Чехия,
  Венгрия, Болгария, Турция, Украина, Финляндия, Швеция, Эстония, Латвия) и Азии
  (Китай, Южная Корея, Таиланд, Вьетнам, Камбоджа, Малайзия). В рамках работы в
  компании Zedo Inc. проходил месячную командировку в Индию.
</p>
<p>
  В свободное время увлекаюсь катанием на болотоходе и снегоходе, а также
  исследованием исторических артефактов. Я — большой поклонник велосипедов: один
  год ездил на велосипеде в офис во все сезоны, включая зиму.
</p>
<p>
  В настоящее время нахожусь в поиске позиции в крупной компании на должности
  "Ведущий фронтенд-разработчик / Технический лидер" с возможностью удалённой
  работы из Санкт-Петербурга.
</p>
<p>Буду рад рассмотреть ваши предложения.</p>

<h2>Контакты</h2>
<label>Мой телеграм:</label>
<a href="https://t.me/pikus_spb">@pikus_spb</a><br />
<label>E-mail:</label>
<a href="mailto:petr.savelev.direct@gmail.com">petr.savelev.direct@gmail.com</a>
