<h1>Обо мне</h1>
<img src="/shared/assets/images/me.png" />
<h2>Ведущий фронтенд разработчик</h2>
<p>
  Я фронтенд разработчик с опытом 15+ лет. В профессию пришел из-за увлечения
  компьютерами и программированием еще с детства. В школе я состоял в клубе
  программистов и участвовал в нескольких олимпиадах. Я довольно рано понял, что
  мне нравится визуальная часть, что привело меня к разработке сайтов, а затем
  мне удалось полностью сфокусироваться на JavaScript.<br />
  На данный момент я стал больше увлекаться архитектурными решениями в сфере
  фронтенд (н.п.feature sliced design - FSD), так как понял, что в большинстве
  современных веб приложениях отсутствие архитектуры - главная проблема.<br />
</p>
<h2>Мой технологический стек</h2>
<mat-chip>HTML</mat-chip>
<mat-chip>CSS</mat-chip>
<mat-chip>LESS</mat-chip>
<mat-chip>JavaScript</mat-chip>
<mat-chip>TypeScript</mat-chip>
<mat-chip>AngularJS</mat-chip>
<mat-chip>Angular</mat-chip>
<mat-chip>Angular Material</mat-chip>
<mat-chip>RxJs</mat-chip>
<mat-chip>NgRx</mat-chip>
<mat-chip>EsLit</mat-chip>
<mat-chip>Prettier</mat-chip>
<mat-chip>StyleLint</mat-chip>
<mat-chip>Feature sliced design (FSD)</mat-chip>
<mat-chip>GitHub</mat-chip>
<mat-chip>GitLab</mat-chip>
<mat-chip>Java</mat-chip>
<mat-chip>Node.js</mat-chip>
<mat-chip>npm</mat-chip>
<mat-chip>Linux</mat-chip>
<mat-chip>Jira</mat-chip>
<mat-chip>Teams</mat-chip>
<mat-chip>Jenkins</mat-chip>
<mat-chip>Code review</mat-chip>
<p>&nbsp;</p>

<h2>Обо мне простыми словами</h2>
<p>
  Я семейный человек, отец 4-х летней прекрасной дочери. Люблю читать книги. Мне
  нравятся наука, особенно физика, астрономия.
</p>
<p>
  Я много путешествовал по Европе (Австрия, Германия, Испания, Италия, Чехия,
  Венгрия, Болгария, Турция, Украина, Финляндия, Швеция, Эстония, Латвия) и Азии
  (Китай, Южная Корея, Таиланд, Вьетнам, Камбоджа, Малайзия). Во время работы в
  компании Zedo Inc. я был в командировке в Индии в течении месяца.
</p>
<p>
  В свободное время я люблю кататься на своем снегоболотоходе и снегоходе,
  исследуя новые территории. Также я фанат велосипедов. Однажды я провел целый
  год и все сезоны (включая снежную зиму), используя свой велосипед для
  ежедневных поездок в офис моей компании.
</p>
<p>
  В настоящее время я нахожусь в поиске хорошей позиции в крупной компании. Я
  ищу работу в должности "Ведущий Angular разрабочик - тех. лид", для работы
  удаленно из Санкт-Петербурга. В первую очередь мне было бы интересно работать
  в международной компании а также в крупных российских софтверных компаниях с
  именем.
</p>
<p>Если у вас есть предложение, с радостью его рассмотрю.</p>

<h2>Контакты</h2>
<label>Мой телеграм:</label>
<a href="https://t.me/pikus_spb">@pikus_spb</a><br />
<label>E-mail:</label>
<a href="mailto:petr.savelev.direct@gmail.com">petr.savelev.direct@gmail.com</a>
