@import "./../globals";

mat-nav-list {
  mat-icon {
    vertical-align: bottom;
    margin-right: 1rem;
  }

  .active {
    background-color: @defaultHighlightColor;
    border-left: 3px solid gray;
    padding-left: calc(@defaultPadding - 3px);
  }
}