<header>
    <button mat-icon-button (click)="sidenav.toggle()" title="Toggle menu">
        <mat-icon>menu</mat-icon>
    </button>

    <img src="assets/images/angular.png"> <h1>Pikus-dev.space</h1>
</header>
<mat-sidenav-container>
    <mat-sidenav #sidenav opened mode="side">
        <a mat-button routerLink="/home" routerLinkActive="active">
            <mat-icon>home</mat-icon>
            Home
        </a>
        <a mat-button routerLink="/links" routerLinkActive="active">
            <mat-icon>link</mat-icon>
            Links
        </a>
        <a mat-button routerLink="/about" routerLinkActive="active">
            <mat-icon>person</mat-icon>
            About
        </a>
    </mat-sidenav>
    <mat-sidenav-content>
        <router-outlet></router-outlet>
    </mat-sidenav-content>
</mat-sidenav-container>