<mat-sidenav-container>
    <mat-sidenav opened mode="side" class="main-menu-container">
        <a mat-button routerLink="/home" routerLinkActive="mat-primary">
            <mat-icon>home</mat-icon>
            Home
        </a>
        <a mat-button routerLink="/links" routerLinkActive="mat-primary">
            <mat-icon>link</mat-icon>
            Links
        </a>
        <a mat-button routerLink="/about" routerLinkActive="mat-primary">
            <mat-icon>person</mat-icon>
            About
        </a>
    </mat-sidenav>
    <mat-sidenav-content class="main-container">
        <router-outlet></router-outlet>
    </mat-sidenav-content>
</mat-sidenav-container>