@import "globals";

:host {
  display: block;
  height: 100%;

  header {
    width: 100%;
    height: @headerHeight;
    display: flex;
    justify-content: left;
    align-items: center;
    padding-left: @defaultPadding;
    gap: @defaultPadding;

    img {
      width: 2rem;
      height: 2rem;
    }

    h1 {
      margin: 0;
      white-space: nowrap;
    }
  }

  mat-sidenav-container {
    height: calc(100% - @headerHeight);
    background-color: initial;

    mat-sidenav {
      width: @mainMenuWidth;
      padding: @defaultPadding * 0.6;
      border-right: 0;

      a {
        width: 100%;
        justify-content: flex-start;
        margin: 0.4rem 0;
        padding-left: @defaultPadding;

        &.active {
          background-color: @defaultHighlightColor;
          border-left: 3px solid gray;
          padding-left: calc(@defaultPadding - 3px);
        }
      }
    }

    mat-sidenav-content {
      padding: @defaultPadding;
    }
  }
}