<mat-sidenav-container>
    <mat-sidenav #sidenav opened mode="side">
        <button mat-icon-button (click)="sidenav.close()" [hidden]="!sidenav.opened" title="Close menu">
            <mat-icon>arrow_left</mat-icon>
        </button>
        <a mat-button routerLink="/home" routerLinkActive="active">
            <mat-icon>home</mat-icon>
            Home
        </a>
        <a mat-button routerLink="/links" routerLinkActive="active">
            <mat-icon>link</mat-icon>
            Links
        </a>
        <a mat-button routerLink="/about" routerLinkActive="active">
            <mat-icon>person</mat-icon>
            About
        </a>
    </mat-sidenav>
    <mat-sidenav-content>
        <router-outlet></router-outlet>
        <button mat-icon-button (click)="sidenav.open()" [hidden]="sidenav.opened" title="Open menu">
            <mat-icon>menu</mat-icon>
        </button>
    </mat-sidenav-content>
</mat-sidenav-container>