@mainMenuWidth: 13rem;
@headerHeight: 3.5rem;
@defaultPadding: 1rem;
@defaultBorderWidth: 1px;
@defaultHighlightColor: rgb(200 200 200 / 25%);
@defaultBorder: @defaultBorderWidth solid @defaultHighlightColor;
