<h1>Мои проекты</h1>
<mat-list>
  <mat-list-item
    ><img src="https://pikus.spb.ru/favicon.ico" /><a
      href="https://pikus.spb.ru/about"
      target="_blank"
      >pikus.spb.ru</a
    >
    - моя личная страница с демо и CV
  </mat-list-item>
  <mat-list-item
    ><img src="https://book-play.ru/favicon.ico" /><a
      href="https://book-play.ru/library"
      target="_blank"
      >book-play.ru</a
    >
    - мой сервис чтения книг голосом
  </mat-list-item>
  <mat-list-item
    ><img src="https://pikus-dev.space/favicon.ico" /><a
      href="https://pikus-dev.space"
      >pikus-dev.space</a
    >
    - моя песочница (этот сайт)
  </mat-list-item>
</mat-list>

<p>&nbsp;</p>
<h1>Полезные ссылки для самостоятельного изучения</h1>

<mat-accordion *ngFor="let section of links | async">
  <mat-expansion-panel hideToggle>
    <mat-expansion-panel-header>
      <mat-panel-title>
        {{ section.name }}
      </mat-panel-title>
    </mat-expansion-panel-header>
    <mat-list>
      <mat-list-item *ngFor="let link of section.children">
        <img *ngIf="link.host" src="{{ link.host }}/favicon.ico" />
        <a target="_blank" [attr.href]="link.host + link.link">{{
          link.title
        }}</a>
        <ng-container *ngIf="link.description">
          - {{ link.description }}
        </ng-container>
      </mat-list-item>
    </mat-list>
  </mat-expansion-panel>
</mat-accordion>
